@using Greenmaster.Core.Models.Design
@model Greenmaster.Core.Models.ViewModels.GardenStyleViewModel

@{
    ViewBag.Title = "Details";
    Layout = "_Layout";
}

<h1>Style</h1>
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>@Html.DisplayFor(model => model.Name)</h2>
            <hr/>
            <dl class="row" id="specie-identification">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Concepts)
                </dt>
                <dd class="col-sm-8">
                    @(string.Join(", ", Model.Concepts))
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Colors)
                </dt>
                <dd class="col-sm-8">
                    @(string.Join(", ", Model.Colors))
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Shapes)
                </dt>
                <dd class="col-sm-8">
                    @(string.Join(", ", Model.Shapes))
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.RequiresLargeGarden)
                </dt>
                <dd class="col-sm-8">
                    @(Model.RequiresLargeGarden ? "Yes" : "No")
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.AllSeasonInterest)
                </dt>
                <dd class="col-sm-8">
                    @(Model.AllSeasonInterest ? "Yes" : "No")
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DivideIntoRooms)
                </dt>
                <dd class="col-sm-8">
                    @(Model.DivideIntoRooms ? "Yes" : "No")
                </dd>

            </dl>
        </div>

        <h3>Used materials:</h3>
        @if (Model.Materials is {Length: > 0 })
        {
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        @(nameof(MaterialType.Name))
                    </th>
                    <th>
                        @(nameof(MaterialType.Description))
                    </th>
                </tr>
                </thead>
                <tbody>
                <tbody>
                @foreach (var item in Model.Materials)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        <h3>Suited species groups:</h3>

        @if (Model.SuitablePlantGenera is {Length: > 0 })
        {
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        Name
                    </th>
                </tr>
                </thead>
                <tbody>
                <tbody>
                @foreach (var item in Model.SuitablePlantGenera)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item)
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }

    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>