@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<eu.greenmaster.Models.ObjectType>

@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}
<h1>Object types</h1>

<p>
    <a class="btn btn-primary" asp-controller="ObjectType" asp-action="CreatePlantType">Add plant-type</a>
    <a class="btn btn-primary" asp-controller="ObjectType" asp-action="CreateStructureType">Add structure-type</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-controller="ObjectType" asp-action="Details" asp-route-id="@item.Id">Details</a> | <a class="disabled" asp-controller="ObjectType" asp-action="Edit" asp-route-id="@item.Id">Edit</a> | <a class="disabled" asp-controller="ObjectType" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
