@model Greenmaster_ASP.Models.ViewModels.SpecieViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.ScientificName)</h4>
    <hr/>
    <dl>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.Genus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Species)
        </dd>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.Cultivar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cultivar)
        </dd>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.CommonNames)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommonNames)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Plant-type description
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.GetPlantType.Description)
        </dd>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.Shape)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shape)
        </dd>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.Lifecycle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lifecycle)
        </dd>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.Sunlight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sunlight)
        </dd>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.Water)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Water)
        </dd>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.Climate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Climate)
        </dd>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.IsPoisonous)
        </dt>
        <dd class="col-sm-10">
            @(Model.IsPoisonous?"Yes":"No")
        </dd>
        <h5 class="h5">Blooming</h5>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.BloomPeriod)
        </dt>
        <dd class="col-sm-10">
            @for (int i = 0; i < Model.BloomPeriod.Count(); i++)
            {
                <div>@Model.BloomPeriod[i] </div>
            }
        </dd>
        @if (Model.FlowerColors?.Length > 0)
        {
            <dt class="col-sm-10">
                @Html.DisplayNameFor(model => model.FlowerColors)
            </dt>
            <dd class="col-sm-10">

                @for (int i = 0; i < Model.FlowerColors.Count(); i++)
                {
                    <div>@Model.FlowerColors[i] </div>
                }
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsFragrant)
        </dt>
        <dd class="col-sm-10">
            @(Model.IsFragrant?"Yes":"No")
        </dd>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.AttractsPollinators)
        </dt>
        <dd class="col-sm-10">
            @(Model.AttractsPollinators?"Yes":"No")
        </dd>
        <h5 class="h5">Dimensions</h5>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxHeight)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.MaxHeight) m
        </dd>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.MaxWidth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxWidth) m
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>