@model IEnumerable<Greenmaster_ASP.Models.Specie>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Add new specie</a>
</p>
<table class="table" id="specieTable">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScientificName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlantType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cycle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Climate)
        </th>
        <th></th>
    </tr>
    </thead>
    
</table>

@section Scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script>
        $(function () {
            $('#specieTable').DataTable({
                "ajax": {
                    "url": "/Specie/GetSpecies",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "id" },
                    { "data": "scientificName" },
                    { "data": "plantType" },
                    { "data": "cycle" },
                    { "data": "climate" },
                    { "data": null, "defaultContent": "<a href='' class='del'>Delete</a>"}
                ]
            });

            $('#specieTable tbody').on('click', 'tr', function (e) {
                e.preventDefault();
                let id = $("td:first", this).text();

                if ($(e.target).is("a.del")) { $.get('@Url.Action("Delete","Specie")', { id: id }, function (data) {
                        $("body").html(data);
                    });
                    return;
                }
                $.get('@Url.Action("Details","Specie")', { id: id }, function (data) {
                    $("body").html(data);
                });
            });
        });



    </script> }
    
<style>
    #usersTable tbody tr {
        cursor: pointer;
    }
</style>